@import "tailwindcss";

.react-calendar {
  width: 100% !important;
  border: none !important;
}
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto; /* vẫn cho scroll */
  scrollbar-width: none;              /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                      /* Chrome, Edge, Safari */
}
